{% extends 'store/base.html' %}
{% block content %}
{% load static %}
  <section class="page-section" name="pr-sect">
    <div class="container">
       <div class="row justify-content-center" style="margin-left: 144px;">
        <div class="col-lg-8 text-center">
          <h1 class="text-white mt-0">Du gras oui mais de qualité</h1>
          <h2 class="text-white mt-0">Trouvez un produit de substitution <br>pour ceux que vous consommez tous les jours</h2>
          <hr class="divider light my-4">
         <div> {{ form }}</div>
          <a class="btn btn-light btn-xl js-scroll-trigger" style="padding-top: 1.25rem;margin-top: -60px;margin-left: 346px;margin-right: -100px;" href="#services">Chercher</a>
        </div>
      </div>>

        </div>
      </div>
    </div>
  </section>
 <section class="page-section bg-primary" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">Colette et Remy</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">Remy et Colette sont amoureux de la gastronomie française (on ne peut les blâmer !). Travaillant quotidiennement avec les meilleurs produits du terroir, ils affectionnent particulièrement la bonne chaire et aiment partager leur passion.</p>
        </div>

        <div class="col-md-6">
          <img src="{% static 'store/img/colette-tatou1.png' %}" alt="imgCo">
          <img src="{% static 'store/img/ratatouille2.png' %}" alt="imgRe">
        </div>
      </div>
    </div>
  </section>
  <section class="page-section" id="contact" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
<h2 class="text-white mt-0 text-center" style="margin-left: -12px;">Contactez-nous</h2>
<hr class="divider my-4" style="border-left-width: 3.2rem;border-left-style: solid;margin-left: 308.167px;">
          <p class="text-white-50 mb-4 text-center">La maison est grande ouverte.</p>
        </div>
      </div>


      <div class="row" style="margin-left: 20px;">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div class="text-white-50 mb-4"><p>+1 (202) 555-0149</p></div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="#">contact@yourwebsite.com</a>
        </div>
      </div>>


      </div>
    </div>
  </section>
{% endblock %}
