{% extends 'store/base.html' %}

{% block content %}





<div class="justify-content-center">
 <div class="col-lg-12 col-lg-offset-4 justify-content-center">
            <div class="row col-lg-6">
                <div class="well well-lg col-lg-6">
  <form id="monForm" action="{% url 'store:connect' %}" method="post">
      {% csrf_token %}
    {{ formlg }}
      <button type="submit" class="btn btn-success"><i class="fas fa-save">Connecter</i></button>
      <h3 class="text-white mt-0 text-center">  <a href="{% url 'store:register' %}"><em>Inscription</em></a> </h3>
      {% if logEr == True %}<h3 class="text-white mt-0 text-center">Veuillez vérifier vos informations, ou vous enregistrer via le lien ci-dessus. Merci.</h3>{% endif %}
  </form>
</div>
</div>
   </div>
</div>






{% endblock %}